.access-list
  width 100%
  font-size 16px

  &__wrapper
    border-radius 4px
    border 1px solid var(--sand_300)
    background var(--sand_0)

  &__loading
    width 100%
    display flex
    min-height 250px
    justify-content center
    align-items center

  &__users
    width 100%
    text-align left
    border-collapse collapse

  &__header
    font-weight 500
    display flex

  &__column,
  &__field
    z-index 2
    height 48px
    padding 0 10px
    border none
    color black
    display flex
    position relative
    align-items center

  &__column
    font-weight 500
    background none

  &__field,
  &__column
    &.avatar
      width 28px
      box-sizing content-box

    &.email
      flex 1

  &__column
    &.access
      width 160px
      display flex
      justify-content center

  &__field
    &.access
      width 160px
      display flex
      justify-content center

      .select
        width 100% /* Ensure the div also adjusts */

        &__list:focus
          border none
          box-shadow none

  &__user
    display flex

    &:nth-child(odd):not(&_active)
      background-color var(--sand_100)

.div-wrapper 
  display flex
  flex-direction column
  gap 10px

.search-bar-wrapper
  display flex
  gap 20px

.input 
  flex 1